<div style="margin: 30px;">
    <div class="d-flex align-items-center">
        <img width="80" alt="Angular Logo"
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
        <h1>Contacts App</h1>
    </div>

    <button class="btn btn-success mb-2" (click)="addNewContact()">New</button>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-2">Firstname</th>
                <th class="col-2">Lastname</th>
                <th class="col-4">Email</th>
                <th class="col-2">Edit</th>
                <th class="col-2">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts; index as i">
                <th>{{contact.id}}</th>
                <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editContact(contact)">Edit</button>
                </td>
                <td class="col-2">
                    <button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
